@use 'sass:map';
@use '@angular/material' as mat;
@include mat.core();


// Define the dark theme.
$primary: mat.m2-define-palette(mat.$m2-pink-palette);
$accent: mat.m2-define-palette(mat.$m2-blue-grey-palette);
$theme: mat.m2-define-dark-theme((
    color: (
      primary: $primary,
      accent: $accent
    )
));

//@include mat.all-component-themes($theme);

/*.pink-bluegrey {
  @include mat.all-component-colors($theme);
}*/
