
.mat-mdc-checkbox {
    --mdc-checkbox-disabled-selected-icon-color: rgba(0, 0, 0, 0.38) !important;
    --mdc-checkbox-disabled-unselected-icon-color: rgba(0, 0, 0, 0.38) !important;
    --mdc-checkbox-selected-checkmark-color: #fff !important;
    --mdc-checkbox-selected-focus-icon-color: #6039b4 !important;
    --mdc-checkbox-selected-hover-icon-color: #6039b4 !important;
    --mdc-checkbox-selected-icon-color: #6039b4 !important;
    --mdc-checkbox-selected-pressed-icon-color: #6039b4 !important;
    --mdc-checkbox-unselected-focus-icon-color: #212121 !important;
    --mdc-checkbox-unselected-hover-icon-color: #212121 !important;
    --mdc-checkbox-unselected-icon-color: #FFFFFF !important;
    --mdc-checkbox-unselected-pressed-icon-color: #FFFFFF !important;
    --mdc-checkbox-selected-focus-state-layer-color: #6039b4 !important;
    --mdc-checkbox-selected-hover-state-layer-color: #6039b4 !important;
    --mdc-checkbox-selected-pressed-state-layer-color: #6039b4 !important;
    --mdc-checkbox-unselected-focus-state-layer-color: white !important;
    --mdc-checkbox-unselected-hover-state-layer-color: white !important;
    --mdc-checkbox-unselected-pressed-state-layer-color: white !important;
}