<h1 mat-dialog-title class="dialog-form-header">{{data.dialogTitle}}</h1>
<div mat-dialog-content>

  <div>
    <mat-card class="resource-card">
      <mat-card-content>
        <div class="input-container">
          <div>
            <p><strong>ID:</strong> {{ organization.id }}</p>
            <p><strong>Name:</strong> {{organization.name }}</p>
          </div>
          <div>
            <p><strong>Address:</strong></p>
            <p>{{organization.address ? organization.address[0].line : '' }}</p>
            <p>{{organization.address ?  organization.address[0].city + ',' : ''}} {{organization.address ? organization.address[0].state : ''}} {{organization.address ?  organization.address[0].postalCode : ''}}</p>
          </div>
          <div>
            <mat-icon class="dialog-card-icon">medical_services</mat-icon>
        </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div>
    <p><strong>Telecom(s):</strong></p>
    <mat-card class="resource-card">
      <mat-card-content>
        <div class="input-container" *ngFor="let telecom of organization.telecom">
          <p><strong>System:</strong> {{ telecom.system }}</p>
          <p><strong>Use:</strong> {{telecom.use}}</p>
          <p><strong>Value:</strong> {{ telecom.value }}</p>
        </div> 
      </mat-card-content>
    </mat-card>
  </div>

  <div>
    <p><strong>Identifier(s):</strong></p>
    <mat-card class="resource-card">
      <mat-card-content>
        <div class="input-container" *ngFor="let identifier of organization.identifier">
          <p><strong>Type:</strong> {{ identifier.type ? identifier.type.text : '' }}</p>
          <p><strong>System:</strong> &nbsp;<a href="{{identifier.system}}" target="_blank">{{ identifier.system }}</a></p>
          <p><strong>Value:</strong> {{ identifier.value }}</p>
        </div> 
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>Close</button>
</div>
