<app-loading-indicator></app-loading-indicator>
<mat-toolbar color="primary">
  <button type="button"
          class="toggle-menu-btn"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="toggleMenuText()">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <span class="toolbar-divider">National Directory of Healthcare Providers &amp; Services</span>
  <span class="example-spacer"></span>
  <span class="toolbar-divider">
    <button mat-icon-button matTooltip="Show API log" (click)="apiLogDrawer.toggle()">
      <mat-icon [matBadge]="apiLogCount" matBadgeColor="accent">list</mat-icon>
    </button>
  </span>
  <span class="toolbar-divider">
    <button mat-icon-button matTooltip="Change local client settings" (click)="showSettingsDialog($event)">
      <mat-icon>settings</mat-icon>
    </button>
  </span>
  <span class="user-profile toolbar-divider" matTooltip="{{ currentUserProfile?.email }}">    
    <button mat-icon-button [matMenuTriggerFor]="userProfileMenu" aria-label="Access user profile options">
      <mat-icon class="profile-icon">account_circle</mat-icon>
    </button>
    <mat-menu #userProfileMenu="matMenu">
      <mat-nav-list>
        <mat-list-item *ngFor="let userProfile of availableUserProfiles" (click)="selectUserProfile(userProfile)" [activated]="currentUserProfile?.email === userProfile.email" [disabled]="currentUserProfile?.email === userProfile.email">
          <mat-icon matListItemIcon>person</mat-icon>
          <div matListItemTitle>{{ userProfile?.firstName }} {{ userProfile?.lastName}}</div>
          <div matListItemLine>{{ userProfile?.email }}</div>
        </mat-list-item>
      </mat-nav-list>
    </mat-menu>
    <span class="profile-name">
      {{ currentUserProfile?.firstName }} {{ currentUserProfile?.lastName}}
    </span>    
  </span>
  
</mat-toolbar>
<mat-drawer-container class="sidenav-container" autosize>
  <mat-drawer #drawer mode="side" opened>
    <mat-nav-list>
      <a mat-list-item routerLink="" routerLinkActive="active">
        <mat-icon matListItemIcon [ngClass]="{'close-menu-icon' : !showMenuText}">dashboard</mat-icon>
        <div class="side-nav-menu-title" matListItemTitle *ngIf="showMenuText">Dashboard</div>
      </a>

      <!-- Notification Service Menu -->
      <mat-accordion>
        <mat-expansion-panel style="box-shadow: none">
          <mat-expansion-panel-header style="margin-left: -8px">
            <mat-panel-title>
              <mat-icon>category</mat-icon>
              <div class="side-nav-menu-title" matListItemTitle *ngIf="showMenuText">Resource</div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a mat-list-item routerLink="view-resource" routerLinkActive="active">
            <mat-icon matListItemIcon>search</mat-icon>
            <div class="side-nav-menu-title" matListItemTitle *ngIf="showMenuText">View</div>
          </a>  
          <a mat-list-item routerLink="create-resource" routerLinkActive="active">
            <mat-icon matListItemIcon>add</mat-icon>
            <div class="side-nav-menu-title" matListItemTitle *ngIf="showMenuText">Create</div>
          </a>  
          <a mat-list-item routerLink="update-resource" routerLinkActive="active">
            <mat-icon matListItemIcon>edit</mat-icon>
            <div class="side-nav-menu-title" matListItemTitle *ngIf="showMenuText">Update</div>
          </a>
          <a mat-list-item routerLink="delete-resource" routerLinkActive="active">
            <mat-icon matListItemIcon>delete_outline</mat-icon>
            <div class="side-nav-menu-title" matListItemTitle *ngIf="showMenuText">Delete</div>
          </a>          
        </mat-expansion-panel>
      </mat-accordion>

      <a mat-list-item routerLink="endpoint-list" routerLinkActive="active">
        <mat-icon matListItemIcon [ngClass]="{'close-menu-icon' : !showMenuText}">api</mat-icon>
        <div class="side-nav-menu-title" matListItemTitle *ngIf="showMenuText">Endpoint</div>
      </a>
      <a mat-list-item routerLink="organization-list" routerLinkActive="active">
        <mat-icon matListItemIcon [ngClass]="{'close-menu-icon' : !showMenuText}">medical_services</mat-icon>
        <div class="side-nav-menu-title" matListItemTitle *ngIf="showMenuText">Organization</div>
      </a>
      <a mat-list-item routerLink="capability-statement" routerLinkActive="active">
        <mat-icon matListItemIcon [ngClass]="{'close-menu-icon' : !showMenuText}">description</mat-icon>
        <div class="side-nav-menu-title" matListItemTitle *ngIf="showMenuText">Capability Statement</div>
      </a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content class="main-content">
    <!-- Add Content Here  format_color_fill -->
    <router-outlet></router-outlet>
  </mat-drawer-content>
  <mat-drawer mode="over" position="end" #apiLogDrawer class="api-log-drawer">
    <app-api-log #apiLogComponent></app-api-log>
  </mat-drawer>
</mat-drawer-container>
