<app-loading-indicator></app-loading-indicator>
<mat-toolbar color="primary">
  <button mat-icon-button aria-label="Toggle sidenav" (click)="toggleMenuText()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="toolbar-divider">National Directory of Healthcare Providers &amp; Services</span>
  <span class="example-spacer"></span>
  <span class="toolbar-divider">
    <button mat-icon-button matTooltip="Show API log" (click)="apiLogDrawer.toggle()">
      <mat-icon [matBadge]="apiLogCount" matBadgeColor="accent">list</mat-icon>
    </button>
  </span>
  <span class="toolbar-divider">
    <button mat-icon-button matTooltip="Change local client settings" (click)="showSettingsDialog($event)">
      <mat-icon>settings</mat-icon>
    </button>
  </span>
  <span class="toolbar-divider">
    <app-user-toolbar></app-user-toolbar>
  </span>
  
</mat-toolbar>
<mat-drawer-container class="sidenav-container" autosize>
  <mat-drawer #drawer mode="side" opened>
    <mat-nav-list>
      <a mat-list-item routerLink="" routerLinkActive="active">
        <mat-icon matListItemIcon [ngClass]="{'close-menu-icon' : !showMenuText}">dashboard</mat-icon>
        <div class="side-nav-menu-title" matListItemTitle *ngIf="showMenuText">Dashboard</div>
      </a>

      <mat-divider></mat-divider>

      <a mat-list-item routerLink="endpoint-list" routerLinkActive="active">
        <mat-icon matListItemIcon [ngClass]="{'close-menu-icon' : !showMenuText}">api</mat-icon>
        <div class="side-nav-menu-title" matListItemTitle *ngIf="showMenuText">Endpoint</div>
      </a>
      <a mat-list-item routerLink="organization-list" routerLinkActive="active">
        <mat-icon matListItemIcon [ngClass]="{'close-menu-icon' : !showMenuText}">medical_services</mat-icon>
        <div class="side-nav-menu-title" matListItemTitle *ngIf="showMenuText">Organization</div>
      </a>
      <!-- <a mat-list-item routerLink="practitioner-list" routerLinkActive="active">
        <mat-icon matListItemIcon [ngClass]="{'close-menu-icon' : !showMenuText}">stethoscope</mat-icon>
        <div class="side-nav-menu-title" matListItemTitle *ngIf="showMenuText">Practitioner</div>
      </a> -->

      <mat-divider></mat-divider>

      <a mat-list-item routerLink="capability-statement" routerLinkActive="active">
        <mat-icon matListItemIcon [ngClass]="{'close-menu-icon' : !showMenuText}">description</mat-icon>
        <div class="side-nav-menu-title" matListItemTitle *ngIf="showMenuText">Capability Statement</div>
      </a>

      <mat-accordion>
        <mat-expansion-panel style="box-shadow: none">
          <mat-expansion-panel-header style="margin-left: -8px">
            <mat-panel-title>
              <mat-icon>category</mat-icon>
              <div class="side-nav-menu-title" matListItemTitle *ngIf="showMenuText">Resource</div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a mat-list-item routerLink="view-resource" routerLinkActive="active">
            <mat-icon matListItemIcon>search</mat-icon>
            <div class="side-nav-menu-title" matListItemTitle *ngIf="showMenuText">View</div>
          </a>  
          <a mat-list-item routerLink="create-resource" routerLinkActive="active">
            <mat-icon matListItemIcon>add</mat-icon>
            <div class="side-nav-menu-title" matListItemTitle *ngIf="showMenuText">Create</div>
          </a>  
          <a mat-list-item routerLink="update-resource" routerLinkActive="active">
            <mat-icon matListItemIcon>edit</mat-icon>
            <div class="side-nav-menu-title" matListItemTitle *ngIf="showMenuText">Update</div>
          </a>
          <a mat-list-item routerLink="delete-resource" routerLinkActive="active">
            <mat-icon matListItemIcon>delete_outline</mat-icon>
            <div class="side-nav-menu-title" matListItemTitle *ngIf="showMenuText">Delete</div>
          </a>          
        </mat-expansion-panel>
      </mat-accordion>

    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content class="main-content">
    <!-- Add Content Here  format_color_fill -->
    <router-outlet></router-outlet>
  </mat-drawer-content>
  <mat-drawer mode="over" position="end" #apiLogDrawer class="api-log-drawer">
    <app-api-log #apiLogComponent></app-api-log>
  </mat-drawer>
</mat-drawer-container>
